:root {
    --bg: rgb(233, 233, 233);
    --bg-second: rgb(255, 255, 255);
    --fg: rgb(37, 37, 37);
    --fg-second: rgb(175, 175, 175);

    --cl-income: rgb(188, 221, 213);
    --cl-expense: rgb(230, 206, 206);
    --cl-transfer: rgb(233, 233, 233);

    --width-number: 120px;
    --radius: 10px;
    --gap: 6px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
html, body {
    max-width: 1000px;
    margin: auto;
    background-color: var(--bg);
    color: var(--fg);
    padding: var(--gap);
}
header {
    display: flex;
    align-items: center;
    gap: var(--gap);
}
main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
h1 {
    font-size: 1.6rem;
    padding: var(--gap);
    flex: 1;
}
section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--gap)*6);
}
section header {
    display: flex;
    align-items: center;
    background-color: var(--bg-second);
    border-radius: var(--radius);
    gap: var(--gap);
    padding: var(--gap);
}
h2 {
    flex: 1;
}
input,
select {
    padding-left: var(--gap);
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: var(--radius);
}
input:hover,
input:focus,
select:hover {
    background-color: var(--bg-second);
    color: var(--fg);

}
input[type='number'] {
    text-align: right;
    width: var(--width-number);
}
button {
    min-width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg);
    color: var(--fg);
}
button:hover {
    color: var(--bg-second);
    background-color: var(--fg-second);
}
li {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-left: var(--gap);
    margin-top: var(--gap);
    border-bottom: 1px dashed var(--fg);
}
li div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--bg);
    border-radius: var(--radius);
    justify-content: flex-end;
    padding: var(--gap);
}
li div {
    display: flex;
    align-items: center;
    justify-items: right;
    gap: var(--gap)
}
li div select {
    width: var(--width-number);
}

li input[type='text'],
li input[type='datetime-local'],
li span {
    flex: 1;
}
li p {
    width: var(--width-number);
    text-align: right;
}
header p {
    width: var(--width-number);
    text-align: right;
}
span {
    text-align: center;
}
progress {
    height: var(--gap);
    border-radius: var(--radius);
}
progress::-webkit-progress-bar {
  background-color: var(--bg-second);
  border-radius: var(--radius);
}
progress::-webkit-progress-value {
  background-color: var(--fg-second);
  border-radius: var(--radius);
}
.Income {
    background-color: var(--cl-income);
}
.Expense {
    background-color: var(--cl-expense);
}
.Transfer {
    background-color: var(--cl-transfer);
}
input[type='month'] {
    width: 156px;
}
#income-expense-chart {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: var(--gap);
    margin-top: calc(var(--gap)*6);
}
