:root {
    --bg: rgb(233, 233, 233);
    --bg-second: rgb(255, 255, 255);
    --fg: rgb(37, 37, 37);
    --fg-second: rgb(175, 175, 175);

    --cl-income: rgb(188, 221, 213);
    --cl-expense: rgb(230, 206, 206);
    --cl-transfer: rgb(175, 175, 175);

    --width-number: 120px;
    --radius: 4px;
    --gap: 1px;
    --progess-height: 6px;
}
* {
    box-sizing: border-box;
    margin: var(--gap);
    padding: var(--gap);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 600;
}
html, body {
    max-width: 1000px;
    margin: auto;
    background-color: var(--bg);
    color: var(--fg);
}
h1 {
    font-size: 1.4rem;
    flex: 1;
    font-weight: 900;
}
h2 {
    flex: 1;
    font-style: bold;
}
button {
    min-width: 20px;
    height: 20px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--bg);
    color: var(--fg);
}
button:hover {
    color: var(--bg-second);
    background-color: var(--fg-second);
}
progress {
    height: var(--progess-height);
    width: 100%;
    border-radius: var(--radius);
}
progress::-webkit-progress-bar {
  background-color: var(--bg-second);
  border-radius: var(--radius);
}
progress::-webkit-progress-value {
  background-color: var(--fg-second);
  border-radius: var(--radius);
}
li {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed var(--fg);
}
input,
select {
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: var(--radius);
    flex: 1;
    height: 100%;
}
input:hover,
input:focus,
select:hover {
    background-color: var(--bg-second);
    color: var(--fg);
}
input[type="number"] {
    text-align: right;
}
select, input[type="number"] {
    max-width: var(--width-number);
}
.main-header {
    display: flex;
    background-color: (var(--fg-second));
    align-content: center;
}
.section-header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--fg-second);
    border: none;
    border-radius: var(--radius);
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 0;
}
.div-input {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--bg);
    border-radius: var(--radius);
    justify-content: flex-end;
}
.div-show {
    width: var(--width-number);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    border-radius: var(--radius);
    justify-items: center;
}
.Income {
    background-color: var(--cl-income);
}
.Expense {
    background-color: var(--cl-expense);
}
.Transfer {
    background-color: var(--cl-transfer);
}
.number {
    width: var(--width-number);
    text-align: right;
    font-weight: bold;
}
.fix {
    flex: 1;
    display: flex;
    align-items: center;
}
#navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--fg-second);
    border-radius: var(--radius);

}
.btn {
    flex: 1;
}
.active {
    background-color: transparent;
}
section {
    display: none;
}
section.active {
    display: block; /* hiện khi có class active */
}
.select-time {
    border-radius: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    text-align: right;
    border-bottom: 1px dashed var(--fg);
}
.big-chart {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.small-chart {
    display: flex;
    flex-wrap: wrap;
}
.chart-inside {
    flex: 1;
    min-width: 320px;
}
